#store kernel alias
ACTION=="add", SUBSYSTEM=="platform", ENV{OF_ALIAS_0}=="ethernet*", RUN+="/usr/sbin/stm32mp-net-alias-udev.sh alias $env{OF_ALIAS_0} %p"
ACTION=="change", SUBSYSTEM=="platform", ENV{OF_ALIAS_0}=="ethernet*", RUN+="/usr/sbin/stm32mp-net-alias-udev.sh alias $env{OF_ALIAS_0} %p"
#store link between path and interface name
ACTION=="add", SUBSYSTEM=="net", RUN+="/usr/sbin/stm32mp-net-alias-udev.sh interface $env{ID_NET_NAME} %p"
ACTION=="change", SUBSYSTEM=="net", RUN+="/usr/sbin/stm32mp-net-alias-udev.sh interface $env{ID_NET_NAME} %p"

# for wlan
ACTION=="add", SUBSYSTEM=="net", RUN+="/usr/sbin/stm32mp-net-alias-wlan-udev.sh $env{DEVTYPE} $env{ID_NET_NAME}"
ACTION=="change", SUBSYSTEM=="net", RUN+="/usr/sbin/stm32mp-net-alias-wlan-udev.sh $env{DEVTYPE} $env{ID_NET_NAME}"
