[Unit]
Description=ST hostname
DefaultDependencies=false
After=mount-partitions.service network.target

[Service]
Type=oneshot
ExecStart=-//usr/bin/st-hostname.sh
WatchdogSec=45

[Install]
WantedBy=multi-user.target
