[Unit]
Description=TEE Supplicant
Wants=dev-tee0.device
After=dev-tee0.device
After=systemd-udevd.service

[Service]
User=tee
Group=tee
EnvironmentFile=-/etc/default/tee-supplicant
ExecStartPre=/usr/sbin/create-tee-supplicant-env /tmp/tee-supplicant.env
EnvironmentFile=-/tmp/tee-supplicant.env
ExecStart=/usr/sbin/tee-supplicant $RPMB_CID $OPTARGS

[Install]
WantedBy=basic.target
