[Unit]
Description=Starts Psplash Boot screen
#Wants=systemd-remount-fs.service
#After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
After=systemd-remount-fs.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/psplash-drm -w

[Install]
WantedBy=local-fs.target
