[Unit]
Description=Starts Psplash Boot screen
Wants=dev-dri-card0.device
After=dev-dri-card0.device
After=systemd-udevd.service
DefaultDependencies=no

[Service]
Type=simple
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no
ExecStart=/usr/bin/psplash-drm-start.sh
ExecStop=/usr/bin/psplash-drm-quit

[Install]
WantedBy=local-fs.target
