[Unit]
Description=Enable USB Ethernet gadget
After=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/sbin/stm32_usbotg_eth_config.sh start
ExecStop=/sbin/stm32_usbotg_eth_config.sh stop


[Install]
WantedBy=multi-user.target
