[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=pulsesaudio.service

[Service]
User=root
EnvironmentFile=-/etc/default/weston
ExecStartPre=/sbin/check-gpu
ExecStartPre=-/usr/bin/psplash-drm-quit
ExecStart=/usr/bin/weston-start -v -e -- $OPTARGS
Restart=on-success
RestartSec=10

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
