[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=pulsesaudio.service

[Service]
User=root
EnvironmentFile=-/etc/default/weston
Environment="XDG_RUNTIME_DIR=/run/user/root"
ExecStartPre=/bin/mkdir -p /run/user/root
ExecStartPre=/bin/chmod 0700 /run/user/root
ExecStartPre=/sbin/check-gpu
ExecStartPre=-/usr/bin/psplash-drm-quit
ExecStart=/usr/bin/weston-start -v -e -- $OPTARGS
Restart=on-success
RestartSec=10

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
